@font-face {
  font-family: "roboto-bold";
  src:
    url("./assets/fonts/Roboto-Bold.woff2") format("woff2"),
    url("./assets/fonts/Roboto-Bold.woff") format("woff"),
    url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "roboto-light";
  src:
    url("./assets/fonts/Roboto-Light.woff2") format("woff2"),
    url("./assets/fonts/Roboto-Light.woff") format("woff"),
    url("./assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  src:
    url("./assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("./assets/fonts/Roboto-Regular.woff") format("woff"),
    url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "helvetica-caps";
  src:
    url("./assets/fonts/HelveticaNeueLTGEOCaps-55Rmn.woff2") format("woff2"),
    url("./assets/fonts/HelveticaNeueLTGEOCaps-55Rmn.woff") format("woff"),
    url("./assets/fonts/HelveticaNeueLTGEOCaps-55Rmn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "helvetica";
  src:
    url("./assets/fonts/HelveticaNeueLTGEO-55Roman.woff2") format("woff2"),
    url("./assets/fonts/HelveticaNeueLTGEO-55Roman.woff") format("woff"),
    url("./assets/fonts/HelveticaNeueLTGEO-55Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
